<a href="https://colab.research.google.com/github/uvsq22004173/tpl-python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
num1 = 15
num2 = 5
if (num1 % num2 == 0):
  print("factors!")
else:
  print("not factors!")

factors!

In [12]:
state = "Georgia"
if (state == "New Jersey"):
  print("School isn't cancelled.")
elif (state == "North Carolina"):
  print("School is postponed.")
elif (state == "Georgia"):
  print("School is cancelled!")
else:
  print("School's status is unknown")

School is cancelled!

In [13]:
print("Découvrez votre signe du zodiaque.")
a = input("Indiquer l'année à tester : ")
if (int(a) % 12 == 0):
  print("Monkey")
elif (int(a) % 12 == 1):
  print("Rooster")
elif (int(a) % 12 == 2):
  print("Dog")
elif (int(a) % 12 == 3):
  print("Pig")
elif (int(a) % 12 == 4):
  print("Rat")
elif (int(a) % 12 == 5):
  print("Ox")
elif (int(a) % 12 == 6):
  print("Tiger")
elif (int(a) % 12 == 7):
  print("Rabbit")
elif (int(a) % 12 == 8):
  print("Dragon")
elif (int(a) % 12 == 9):
  print("Snake")
elif (int(a) % 12 == 10):
  print("Horse")
elif (int(a) % 12 == 11):
  print("Sheep")

Découvrez votre signe du zodiaque.
Indiquer l'année à tester : 2001
Snake

In [79]:
t = input("Insérer température : ")
if (int(t)- <=0):
  print("Freezing")
else:
  print("Not freezing")

Insérer température : 65
Not freezing

In [28]:
t = input("Insérer température : ")
if (int(t) <= 0):
  print("En Celsius et en Fahrenheit, on considère qu'il fait froid.")
elif (0 <= int(t) <= 32):
  print("En Celsius on considère qu'il fait chaud et en Farhenheit qu'il fait froid.")
else:
  print("Il fait chaud.")

Insérer température : 5
En Celsius on considère qu'il fait chaud et en Farhenheit qu'il fait froid.

In [53]:
r = input("Année : ")
if (int(r) % 4 == 0 or int(r) % 400 == 0):
 print("L'année est bissextile")
else:
  print("L'année n'est pas bissextile")

Année : 1013
L'année n'est pas bissextile

In [58]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
for i in range(2, 22, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [77]:
for a in range(2, 22):
  if (a % 2 == 0):
    print(a)
  elif (a % 2 == 1):
    print("*Nombre impair*")

2
*Nombre impair*
4
*Nombre impair*
6
*Nombre impair*
8
*Nombre impair*
10
*Nombre impair*
12
*Nombre impair*
14
*Nombre impair*
16
*Nombre impair*
18
*Nombre impair*
20
*Nombre impair*